@charset "UTF-8";
@font-face {
  src: url(../fonts/GothamProBlack.woff);
  font-family: 'g-b'; }

@font-face {
  src: url(../fonts/GothamProBold.woff);
  font-family: 'g-bold'; }

@font-face {
  src: url(../fonts/GothamProMedium.woff);
  font-family: 'g-m'; }

@font-face {
  src: url(../fonts/GothamProRegular.woff);
  font-family: 'g-r'; }

@font-face {
  src: url(../fonts/UniSansBold.woff);
  font-family: 'u-b'; }

@font-face {
  src: url(../fonts/UniSansRegular.woff);
  font-family: 'u-r'; }

@font-face {
  src: url(../fonts/UniSansSemiBold.woff);
  font-family: 'u-s'; }

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
  text-decoration: none; }

p {
  margin-bottom: 0; }

ul {
  margin-bottom: 0; }

a:hover {
  text-decoration: none; }

body.active {
  overflow: hidden; }

header .header__top .logo p {
  color: #071223;
  font-family: 'u-b';
  font-size: 22px; }

header .header__top .header__top-text {
  font-size: 11px;
  width: 200px; }
  @media (max-width: 991px) {
    header .header__top .header__top-text {
      display: none; } }

header .header__top .header__social img {
  width: 20px;
  height: 20px; }

@media (max-width: 991px) {
  header .header__top .header__social img {
    width: 30px;
    height: 30px; } }

header .header__top .header__location {
  font-size: 12px;
  color: #4d6566; }
  @media (max-width: 991px) {
    header .header__top .header__location p span {
      display: none; }
    header .header__top .header__location p img {
      width: 30px;
      height: 30px; } }

header .header__top .header__phone a {
  color: #071223;
  font-size: 18px;
  font-family: "u-s"; }
  @media (max-width: 1200px) {
    header .header__top .header__phone a {
      font-size: 14px; } }
  @media (max-width: 991px) {
    header .header__top .header__phone a p {
      display: none; }
    header .header__top .header__phone a img {
      width: 30px;
      height: 30px; } }
  header .header__top .header__phone a:hover {
    text-decoration: none; }

header .header__top .header__modal button {
  border: 1px solid #d0e3e4;
  border-radius: 0px;
  color: #429fa4;
  background: transparent;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; }
  @media (max-width: 1200px) {
    header .header__top .header__modal button {
      padding: 8px;
      margin-left: 5px; } }
  header .header__top .header__modal button:hover {
    border: 1px solid transparent;
    color: white;
    background: -webkit-gradient(linear, left top, left bottom, from(#73c4c7), to(#429fa4));
    background: -o-linear-gradient(top, #73c4c7 0%, #429fa4 100%);
    background: linear-gradient(180deg, #73c4c7 0%, #429fa4 100%); }

header .header__bottom .header__email {
  color: #4D6566;
  font-size: 13px;
  font-family: 'u-r'; }
  @media (max-width: 991px) {
    header .header__bottom .header__email p {
      display: none; }
    header .header__bottom .header__email img {
      width: 30px;
      height: 30px; } }
  header .header__bottom .header__email:hover {
    text-decoration: none; }

header .header__bottom .menu.active {
  left: 0; }

@media (max-width: 767px) {
  header .header__bottom .menu {
    position: fixed;
    width: 100%;
    height: 100%;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    background: #fff;
    top: 0;
    left: -100%;
    z-index: 2;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    header .header__bottom .menu .menu__list {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }
      header .header__bottom .menu .menu__list li {
        margin-bottom: 45px;
        margin-left: 0; }
        header .header__bottom .menu .menu__list li a {
          font-size: 22px; }
      header .header__bottom .menu .menu__list .close {
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
        font-size: 36px;
        font-family: 'u-s'; } }

header .header__bottom .menu .menu__list li {
  margin-left: 30px; }
  header .header__bottom .menu .menu__list li a {
    position: relative;
    color: #071223;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    font-family: 'u-s';
    font-size: 18px;
    padding: 0 10px;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent; }
    header .header__bottom .menu .menu__list li a:hover {
      color: #429FA4;
      text-decoration: none;
      border-left: 1px solid #d0e3e4;
      border-right: 1px solid #d0e3e4; }
      header .header__bottom .menu .menu__list li a:hover::after {
        position: absolute;
        content: '';
        width: 100%;
        height: 2px;
        bottom: -20px;
        left: 0;
        background: #429FA4; }

header .header__bottom .menu .menu__list .close {
  display: none; }
  @media (max-width: 767px) {
    header .header__bottom .menu .menu__list .close {
      display: block; } }

header .header__bottom .header__language a {
  position: relative;
  color: #071223;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  font-family: 'u-r';
  font-size: 14px; }
  header .header__bottom .header__language a:hover {
    color: #429FA4;
    text-decoration: none; }

header .header__bottom .burger__menu {
  display: none; }

@media (max-width: 767px) {
  header .header__bottom .burger__menu {
    display: block;
    position: relative;
    width: 40px;
    height: 30px; }
    header .header__bottom .burger__menu::before, header .header__bottom .burger__menu::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 2px;
      background: #429fa4; }
    header .header__bottom .burger__menu::before {
      top: 0; }
    header .header__bottom .burger__menu::after {
      bottom: 0; }
    header .header__bottom .burger__menu span {
      position: absolute;
      width: 100%;
      height: 2px;
      background: #429fa4;
      top: 13px; } }

.home {
  background: url(../images/bg_1.jpg) center center no-repeat;
  background-size: cover; }
  @media (max-width: 991px) {
    .home {
      background: url(../images/bg_2.jpg) center center no-repeat;
      background-size: cover; } }
  .home .home__row {
    padding: 100px 0; }
  .home .home__title {
    font-family: "u-b";
    font-size: 76px;
    color: #071223;
    position: relative; }
    @media (max-width: 767px) {
      .home .home__title {
        font-size: 52px;
        margin-bottom: 70px; } }
    @media (max-width: 567px) {
      .home .home__title {
        font-size: 34px;
        margin-bottom: 85px; } }
    .home .home__title::before {
      content: "незарегистрированных";
      position: absolute;
      height: auto;
      width: 407px;
      right: 0px;
      top: 107px;
      font-size: 24px;
      color: #429fa4; }
      @media (max-width: 1200px) {
        .home .home__title::before {
          right: -80px; } }
      @media (max-width: 991px) {
        .home .home__title::before {
          right: 70px; } }
      @media (max-width: 767px) {
        .home .home__title::before {
          display: block;
          top: 120px;
          left: 0; } }
      @media (max-width: 567px) {
        .home .home__title::before {
          top: 85px;
          font-size: 19px;
          width: auto; } }
    .home .home__title::after {
      content: "лекарственных препаратов";
      position: absolute;
      height: auto;
      width: 407px;
      right: 0px;
      top: 135px;
      font-size: 24px;
      color: #071223; }
      @media (max-width: 1200px) {
        .home .home__title::after {
          right: -80px; } }
      @media (max-width: 991px) {
        .home .home__title::after {
          right: 70px; } }
      @media (max-width: 767px) {
        .home .home__title::after {
          display: block;
          top: 150px;
          left: 0; } }
      @media (max-width: 567px) {
        .home .home__title::after {
          top: 115px;
          font-size: 19px;
          width: auto; } }
  .home .home__text {
    color: #071223;
    font-family: "g-r"; }
  .home .home__about {
    background: -webkit-gradient(linear, left top, left bottom, from(#ffb95b), to(#ff8a2c));
    background: -o-linear-gradient(top, #ffb95b 0%, #ff8a2c 100%);
    background: linear-gradient(180deg, #ffb95b 0%, #ff8a2c 100%);
    -webkit-box-shadow: inset 0px 0px 4px rgba(255, 255, 255, 0.25);
            box-shadow: inset 0px 0px 4px rgba(255, 255, 255, 0.25);
    border-radius: 2px;
    padding: 20px 30px;
    color: #fff;
    font-family: "g-m";
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s; }
    .home .home__about:hover {
      background: -webkit-gradient(linear, left bottom, left top, from(#ffb95b), to(#ff8a2c));
      background: -o-linear-gradient(bottom, #ffb95b 0%, #ff8a2c 100%);
      background: linear-gradient(0deg, #ffb95b 0%, #ff8a2c 100%); }
  .home .home__img {
    position: absolute;
    height: 100%;
    right: 0; }
    .home .home__img img {
      width: 100%;
      height: 100%; }

.category .category__doctors {
  position: relative;
  top: -50px;
  background: #fff;
  padding: 60px 0; }
  .category .category__doctors .category__doctor {
    position: relative;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    cursor: pointer; }
    .category .category__doctors .category__doctor .doctor__image {
      width: 100%;
      height: 100%; }
    .category .category__doctors .category__doctor .doctor__about {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      height: 90px;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      background: #73c4c7;
      background: -webkit-gradient(linear, left bottom, left top, from(#73c4c7), to(#73c4c7));
      background: -o-linear-gradient(bottom, #73c4c7 0%, #73c4c7 100%);
      background: linear-gradient(0deg, #73c4c7 0%, #73c4c7 100%);
      padding: 30px;
      color: #ffffff;
      font-family: "u-r";
      font-size: 22px; }
      .category .category__doctors .category__doctor .doctor__about img {
        margin-right: 5px; }
      .category .category__doctors .category__doctor .doctor__about::after {
        content: "";
        position: absolute;
        bottom: 0;
        right: 0;
        width: 5px;
        height: 5px;
        border: 20px solid transparent;
        border-right: 20px solid #fff;
        border-bottom: 20px solid #fff; }
      .category .category__doctors .category__doctor .doctor__about:hover {
        background: #071223; }

.about {
  padding: 30px 0; }
  .about .about__header h1 {
    font-family: "u-b"; }
  .about .about__header .about__a {
    color: #429fa4;
    padding: 10px;
    border: 1px solid #d0e3e4;
    border-radius: 2px;
    font-family: "u-r"; }
  .about .about__body .about__text {
    color: #4d6566;
    font-family: "g-r";
    font-size: 15px; }

.advantages .container {
  background: #f4fafc;
  padding: 60px 0; }
  .advantages .container .advan__row {
    margin-right: 0;
    margin-left: 0; }
  .advantages .container .advan__col {
    padding-left: 0;
    padding-right: 0;
    border-bottom: 1px solid #d0e3e4;
    border-right: 1px solid #d0e3e4; }
    .advantages .container .advan__col:nth-child(4) {
      border-bottom: 1px solid transparent; }
    .advantages .container .advan__col:nth-child(5) {
      border-bottom: 1px solid transparent; }
    .advantages .container .advan__col:nth-child(6) {
      border-bottom: 1px solid transparent;
      border-right: 1px solid transparent; }
    .advantages .container .advan__col:nth-child(3) {
      border-right: 1px solid transparent; }
  .advantages .container .advantages__block {
    padding: 50px; }
    .advantages .container .advantages__block .advan__text {
      font-family: "u-s";
      color: #071223;
      font-size: 20px; }
    .advantages .container .advantages__block .advan__p {
      color: #4d6566;
      font-family: "g-r";
      font-size: 13px; }

.legislation {
  padding: 50px 0; }
  .legislation .legis__block .legis__title {
    font-family: "u-b";
    color: #071223;
    font-size: 36px; }
  .legislation .legis__block .legis__text {
    font-family: "g-r";
    font-size: 13px; }
    .legislation .legis__block .legis__text strong {
      font-family: "g-bold"; }
      @media (max-width: width 767px) {
        .legislation .legis__block .legis__text strong {
          font-size: 15px; } }
    @media (max-width: width 767px) {
      .legislation .legis__block .legis__text {
        font-size: 13px; } }
  .legislation .legis__photo img {
    width: 100%; }

.news {
  padding: 50px 0; }
  .news .container .about__a {
    color: #429fa4;
    padding: 10px;
    border: 1px solid #d0e3e4;
    border-radius: 2px;
    font-family: "u-r"; }
  .news .container .news__col {
    margin-bottom: 30px; }
  .news .container .new {
    background: #f4fafc;
    position: relative;
    padding: 24px; }
    .news .container .new .new__date {
      position: absolute;
      top: -14px;
      font-size: 13px;
      left: 25px;
      background: #73c4c7;
      background: -webkit-gradient(linear, left bottom, left top, from(#73c4c7), to(#73c4c7));
      background: -o-linear-gradient(bottom, #73c4c7 0%, #73c4c7 100%);
      background: linear-gradient(0deg, #73c4c7 0%, #73c4c7 100%);
      color: #ffffff;
      padding: 4px;
      font-family: "u-b"; }
    .news .container .new .new__title {
      font-size: 18px;
      color: #071223;
      position: relative; }
      .news .container .new .new__title::after {
        position: absolute;
        content: "";
        width: 100%;
        height: 2px;
        background: #429fa4;
        bottom: -5px;
        left: 0; }
    .news .container .new .new__text {
      font-size: 13px;
      color: #4d6566; }
    .news .container .new:hover {
      -webkit-box-shadow: 0px 10px 25px rgba(7, 18, 35, 0.08);
              box-shadow: 0px 10px 25px rgba(7, 18, 35, 0.08); }
      .news .container .new:hover .new__text {
        color: #4d6566; }
      .news .container .new:hover .new__title {
        color: #429fa4; }

.banner .container img {
  width: 100%; }

.company {
  padding: 50px 0; }
  .company .company__img {
    border: 1px solid #d0e3e4;
    width: 100%; }
    .company .company__img img {
      width: 100%; }
  .company .brend {
    padding-left: 0;
    padding-right: 0; }
  .company .brend:nth-child(even) {
    margin-top: 50px; }
    @media (max-width: 767px) {
      .company .brend:nth-child(even) {
        margin-top: 0; } }

.bread__crumb {
  background: #f4fafc;
  padding: 50px 0; }
  .bread__crumb nav ol {
    background: transparent; }
    .bread__crumb nav ol li a {
      color: #4d6566;
      font-family: "g-r"; }
      .bread__crumb nav ol li a .active {
        color: #d0e3e4; }
  .bread__crumb .section__title {
    font-family: "u-b";
    font-size: 36px; }
    @media (max-width: 567px) {
      .bread__crumb .section__title {
        font-size: 30px; } }

.catalog {
  padding: 50px 0;
  position: relative;
  top: -100px;
  /*!
       * The important stuffs. The ones that you should copy-paste and use.
       */ }
  .catalog .container {
    background: #fff;
    padding: 20px 0; }
  .catalog .product {
    position: relative;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    cursor: pointer; }
    .catalog .product .product__image {
      width: 100%;
      height: 100%; }
    .catalog .product .product__about {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      height: 90px;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      background: #73c4c7;
      background: -webkit-gradient(linear, left bottom, left top, from(#73c4c7), to(#73c4c7));
      background: -o-linear-gradient(bottom, #73c4c7 0%, #73c4c7 100%);
      background: linear-gradient(0deg, #73c4c7 0%, #73c4c7 100%);
      padding: 30px;
      color: #ffffff;
      font-family: "u-r";
      font-size: 22px; }
      .catalog .product .product__about img {
        margin-right: 5px; }
      .catalog .product .product__about::after {
        content: "";
        position: absolute;
        bottom: 0;
        right: 0;
        width: 5px;
        height: 5px;
        border: 20px solid transparent;
        border-right: 20px solid #fff;
        border-bottom: 20px solid #fff; }
      .catalog .product .product__about:hover {
        background: #071223; }
  .catalog .page-block {
    width: 100%; }
  .catalog .light {
    background: #f3f3f3;
    overflow: hidden; }
  .catalog .doc {
    border-bottom: 1px solid #ccc;
    margin: 1em auto;
    width: 40%; }
  .catalog .doc .title {
    text-align: center; }
  .catalog .paginate {
    margin-top: 30px;
    padding: 10px 0;
    text-align: center; }
  .catalog .paginate .prev {
    position: absolute;
    left: 0; }
    @media (max-width: 991px) {
      .catalog .paginate .prev {
        position: unset; } }
  .catalog .paginate .next {
    position: absolute;
    right: 0; }
    @media (max-width: 991px) {
      .catalog .paginate .next {
        position: unset; } }
  .catalog .paginate ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center; }
  .catalog .paginate li {
    display: inline; }
  .catalog .paginate a {
    margin: 1px 2px;
    padding: 10px 20px;
    display: inline-block;
    text-decoration: none;
    color: #071223;
    font-family: "u-r"; }
  .catalog .paginate a:first-child,
  .catalog .paginate a.first {
    margin-left: 0; }
  .catalog .paginate a:last-child,
  .catalog .paginate a.last {
    margin-right: 0; }
  .catalog .paginate a:hover,
  .catalog .paginate a:focus {
    border-color: #fff;
    background-color: #fdfdfd;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fefefe), to(#fafafa));
    background-image: -o-linear-gradient(top, #fefefe, #fafafa);
    background-image: linear-gradient(top, #fefefe, #fafafa);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#fefefe', EndColorStr='#fafafa'); }
  .catalog .paginate a.more {
    -webkit-box-shadow: 0 0 0 0 transparent;
            box-shadow: 0 0 0 0 transparent;
    border: 0 none;
    background: transparent;
    margin-left: 0;
    margin-right: 0; }
  .catalog .paginate a.active {
    border-color: #505050;
    color: #429fa4;
    background-color: #f4fafc; }
  .catalog .paginate-dark a {
    -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 0 0 1px;
            box-shadow: rgba(0, 0, 0, 0.3) 0 0 0 1px;
    border-top: 1px solid #62686d;
    text-shadow: rgba(0, 0, 0, 0.75) 0 1px 0;
    color: #fff;
    background-color: #4e5458;
    background-image: -o-linear-gradient(top, #575e63, #3f4347);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#575e63), to(#3f4347));
    background-image: linear-gradient(top, #575e63, #3f4347);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#575e63', EndColorStr='#3f4347'); }
  .catalog .paginate-dark a:hover,
  .catalog .paginate-dark a:focus {
    border-color: #61788a;
    background-color: #4d6374;
    background-image: -o-linear-gradient(top, #566f82, #3e505e);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#566f82), to(#3e505e));
    background-image: linear-gradient(top, #566f82, #3e505e);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#566f82', EndColorStr='#3e505e'); }
  .catalog .paginate-dark a.active {
    -webkit-box-shadow: rgba(0, 0, 0, 0.75) 0 0 0 0 inset;
            box-shadow: rgba(0, 0, 0, 0.75) 0 0 0 0 inset;
    border-color: #2d3035;
    background-color: #303338;
    background-image: -o-linear-gradient(top, #303338, #2d3034);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#303338), to(#2d3034));
    background-image: linear-gradient(top, #303338, #2d3034);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#303338', EndColorStr='#2d3034'); }

.seo {
  background: #F4FAFC;
  padding: 50px 0; }
  .seo .seo__tile {
    font-family: 'u-b';
    color: #071223; }
  .seo .seo__text {
    color: #4D6566;
    font-family: 'g-r';
    font-size: 15px; }

.slider {
  background: #F4FAFC;
  padding: 30px 0; }
  .slider a {
    color: #071223;
    font-family: 'u-r'; }

.card {
  padding: 30px 0; }
  .card .card__image img {
    width: 100%; }
  .card .card-block {
    padding-left: 0;
    padding-right: 0; }
  .card .card__title {
    color: #071223;
    font-family: 'u-b'; }
  .card .card__orginal-name {
    font-family: 'g-r';
    color: #071223;
    font-size: 15px; }
  .card .card__block {
    background: #F4FAFC;
    padding: 20px; }
    .card .card__block .name {
      color: #4D6566;
      font-family: 'g-r';
      font-size: 13px;
      text-align: start; }
    .card .card__block .line {
      width: 50%;
      margin: 0 2%;
      height: 1px;
      top: 0;
      left: 0;
      border-bottom: 2px dotted #4D6566; }
    .card .card__block .value {
      text-align: end;
      font-size: 13px;
      color: #071223;
      font-family: 'g-m'; }
  .card .home__about {
    background: -webkit-gradient(linear, left top, left bottom, from(#FFB95B), to(#FF8A2C));
    background: -o-linear-gradient(top, #FFB95B 0%, #FF8A2C 100%);
    background: linear-gradient(180deg, #FFB95B 0%, #FF8A2C 100%);
    -webkit-box-shadow: inset 0px 0px 4px rgba(255, 255, 255, 0.25);
            box-shadow: inset 0px 0px 4px rgba(255, 255, 255, 0.25);
    border-radius: 2px;
    padding: 20px 30px;
    color: #fff;
    font-family: 'g-m';
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s; }
    .card .home__about:hover {
      background: -webkit-gradient(linear, left bottom, left top, from(#FFB95B), to(#FF8A2C));
      background: -o-linear-gradient(bottom, #FFB95B 0%, #FF8A2C 100%);
      background: linear-gradient(0deg, #FFB95B 0%, #FF8A2C 100%); }
  .card .card__text .title {
    font-family: 'u-b';
    font-size: 20px;
    color: #071223; }
  .card .card__text .text {
    color: #4D6566;
    font-size: 13px;
    font-family: 'g-r'; }

.contacts {
  padding: 20px 0; }
  .contacts .container {
    padding: 20px 0;
    background: #fff;
    position: relative;
    top: -50px; }
    .contacts .container .contact {
      padding: 20px 0;
      text-align: center;
      width: 100%;
      height: 100%;
      color: #071223;
      font-family: 'g-r';
      font-size: 15px; }
      .contacts .container .contact img {
        margin-right: 5px;
        width: 20px;
        height: 20px; }
      .contacts .container .contact p {
        width: auto; }
    .contacts .container .tel {
      font-family: 'u-b'; }
    .contacts .container .submit {
      background: -webkit-gradient(linear, left top, left bottom, from(#FFB95B), to(#FF8A2C));
      background: -o-linear-gradient(top, #FFB95B 0%, #FF8A2C 100%);
      background: linear-gradient(180deg, #FFB95B 0%, #FF8A2C 100%);
      -webkit-box-shadow: inset 0px 0px 4px rgba(255, 255, 255, 0.25);
              box-shadow: inset 0px 0px 4px rgba(255, 255, 255, 0.25);
      border-radius: 2px;
      padding: 20px 30px;
      border: none;
      width: 100%;
      color: #fff;
      font-family: 'g-m';
      -webkit-transition: 0.5s;
      -o-transition: 0.5s;
      transition: 0.5s; }
      .contacts .container .submit:hover {
        background: -webkit-gradient(linear, left bottom, left top, from(#FFB95B), to(#FF8A2C));
        background: -o-linear-gradient(bottom, #FFB95B 0%, #FF8A2C 100%);
        background: linear-gradient(0deg, #FFB95B 0%, #FF8A2C 100%); }
    .contacts .container .form-title {
      font-size: 22px;
      font-family: 'u-s';
      color: #ffffff; }
    .contacts .container textarea {
      width: 100%;
      height: 100%;
      cursor: pointer;
      background: transparent;
      border: none;
      color: #fff;
      border-bottom: 1px solid #fff;
      outline: none;
      opacity: 0.8; }
      .contacts .container textarea::-webkit-input-placeholder {
        color: #fff; }
      .contacts .container textarea::-moz-placeholder {
        color: #fff; }
      .contacts .container textarea:-ms-input-placeholder {
        color: #fff; }
      .contacts .container textarea::-ms-input-placeholder {
        color: #fff; }
      .contacts .container textarea::placeholder {
        color: #fff; }
      .contacts .container textarea:focus {
        opacity: 1; }
    .contacts .container input {
      width: 100%;
      height: 100%;
      cursor: pointer;
      background: transparent;
      border: none;
      color: #fff;
      border-bottom: 1px solid #fff;
      outline: none;
      opacity: 0.8; }
      .contacts .container input::-webkit-input-placeholder {
        color: #fff; }
      .contacts .container input::-moz-placeholder {
        color: #fff; }
      .contacts .container input:-ms-input-placeholder {
        color: #fff; }
      .contacts .container input::-ms-input-placeholder {
        color: #fff; }
      .contacts .container input::placeholder {
        color: #fff; }
      .contacts .container input:focus {
        opacity: 1; }
    .contacts .container form {
      padding: 60px 20px;
      background: #429FA4;
      margin-right: 0;
      margin-left: 0; }
    .contacts .container .contact-row {
      margin-left: 0;
      margin-right: 0; }
    .contacts .container .form-col {
      margin-bottom: 50px; }

footer {
  padding: 30px 0;
  background: #071223; }
  footer .logo p {
    color: #ffffff;
    font-family: 'u-b';
    font-size: 22px; }
  footer .privacy {
    color: #D0E3E4;
    font-size: 12px; }
  footer .footer__social a {
    background: #50545a;
    padding: 5px;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    footer .footer__social a img {
      width: 20px;
      height: 20px; }
  footer .ul__foot li {
    margin-bottom: 10px; }
    footer .ul__foot li a {
      color: #ffffff;
      font-family: 'u-r';
      position: relative;
      -webkit-transition: 0.5s;
      -o-transition: 0.5s;
      transition: 0.5s; }
      footer .ul__foot li a::before {
        position: absolute;
        content: '';
        width: 100%;
        height: 2px;
        bottom: -2px;
        left: 0;
        background: #429fa4; }
      footer .ul__foot li a:hover {
        text-decoration: none;
        color: #429fa4; }
  footer .foot__contact .phone img {
    color: #429FA4; }
  footer .foot__contact .phone p {
    font-family: 'u-s';
    color: #ffffff;
    font-size: 18px; }
  footer .foot__contact .header__email {
    color: #D0E3E4;
    font-size: 13px; }
    footer .foot__contact .header__email:hover {
      text-decoration: none; }
  footer .foot__contact .location {
    color: #D0E3E4;
    font-size: 13px; }
  @media (max-width: 768px) {
    footer .foot-left {
      margin-bottom: 30px; } }
  @media (max-width: 768px) {
    footer .foot-center {
      margin-bottom: 30px; } }
  @media (max-width: 768px) {
    footer .foot-right {
      margin-bottom: 30px; } }
